---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro site from Netlify</h1>

		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, magni nisi iusto aperiam perferendis vitae voluptate sunt rerum natus eius modi vero accusantium labore aut inventore delectus! Quo, error sunt.</p>
	</body>
</html>
